<% provide(:title, 'Rado Rakotondrabe | Home') %>
<div class="jumbotron jumbotron-fluid my-screen">
  <div class="container">
    <h1 class="display-4 mt-2">Atelier photographie</h1>
    <h2 class="lead">S'initier a la photographie numérique</h2>
    <a class="js-scrollTo" href="#concept"><button type="button" class="btn btn-outline-primary btn-lg mt-3">Découvrir</button></a>
  </div>
</div>
<main>
<div id="concept" class="container mt-5 mb-5">
	<div class="row align-items-start">
			<div class="col-sm-12 col-md-12 col-lg-6 mb-3">
				<h3 class="mb-5">Le concept</h3>
				<ul>
					<li>Vous possedez un appareil photo numérique mais vous aimeriez pouvoir mieux vous en servir ?</li>
					<li>vous possedez des bases techniques en photographie mais souhaiteriez aller plus loin que le mode automatique ?</li>
					<li>Ou vous avez simplement envie de partager vos connaissances...</li>
				</ul>
				<h3 class="mb-5">En pratique</h3>
				<ul>
					<li>Initiation sur un theme particulier.</li>
					<li>Seance de partage de connaissances et critique photo</li>
					<li>Forum en ligne</li>
					<li>Ateliers pratiques (sorties photo...)</li>
				</ul>
				<p>Pour participer a nos ateliers, merci de vous inscrire en saisissant votre adresse email</p>
				<!-- Begin Mailchimp Signup Form -->			
			<div id="mc_embed_signup">
			<form action="https://yahoo.us3.list-manage.com/subscribe/post?u=a3994c03bbe41c2cc8a09ca00&amp;id=83417136f3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div id="mc_embed_signup_scroll">	
			<div class="mc-field-group">		
				<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="votre@email.com">
			</div>
				<div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a3994c03bbe41c2cc8a09ca00_83417136f3" tabindex="-1" value=""></div>
				<div class="clear"><input type="submit" value="Je souscris" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
				</div>
			</form>
			</div>
			<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
			<!--End mc_embed_signup-->

	    </div>

	    <div class="col-sm-12 col-md-12 col-lg-6">
	    	<%= image_tag("workshop.jpg", class: "rounded img-fluid") %>
	    </div>
  	</div>

</div>

<div id="program" class="container mb-5">
	<h3 class="mb-3">Programme</h3>

	<h5 class="mt-4 mb-5">Les ateliers proposes</h5>

	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-6">
	      <h2 class="mb-3">Atelier 1: "Les bases pour debuter"</h2>
				<p>Courte introduction à la photo numerique. L'essentiel pour commencer.
				Quelques pour apprendre par soi-même; partage de ressources ...</p>
	    </div>
	    <div class="col-sm-12 col-md-6 col-lg-6">
	      <h2 class="mb-3">Atelier 2: "Mieux connaitre son matériel" </h2>
	      <p>Problematique: Souvent nous n'utilisons que tres peu de fonctionnalites de notre appareil...</p>
	    </div>
	</div>
	<div class="row mt-4">
		<div class="col-sm-12 col-md-6 col-lg-6">
	      <h2 class="mb-3">Atelier 3: Etude d'un theme plus precis</h2>
	      <p>Maintenant que nous sommes un peu plus agueri, allons un peu plus dans la technique...</p>
	    </div>
	    <div class="col-sm-12 col-md-6 col-lg-6">
	      <h2 class="mb-3">Atelier 4: mise en pratique</h2>
	      <p>Suffit la theorie, nous allons mettre tout ceci en pratique sur le terrain</p>
	    </div>
	</div>
	 
	<h5 class="mt-4 mb-5">Détails du programme</h5>
	<div class="row">
	  <div class="col-sm-12 col-md-6 col-lg-4">

	    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
	      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Les bases</a>
	      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Mieux connaitre son matériel</a>
	      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Atelier thématique</a>
	      <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Atelier pratique </a>
	    </div>
	  </div>

	  <div class="col-sm-12 col-md-6 col-lg-8">

	    <div class="tab-content container mt-2" id="v-pills-tabContent">
	      <div class="tab-pane fade show active justif" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">Pour cette 1ere rencontre nous ne ferons de la théorie avec quelques exercices pratique sans doute. Nous verrons les notions de base sur le cadrage, la composition...<br/><br/>
		  </div>
	      <div class="tab-pane fade justif" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">Cet atelier sera consacre a la (re)decouverte de votre propre materiel.<br/><br/>
		  </div>
		  <div class="tab-pane fade justif" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">Nous considèrerons pour cet atelier que les participants possèdent les bases techniques essentielles de la photographie ainsi que la connaissance de leur appareil photo.
				Nous travaillerons sur un thème particulier.<br/><br/>
		  </div>
	      <div class="tab-pane fade justif" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">Nous organiserons (sous reserve) une sortie photo pour mettre toutes nos connaissances en pratique.<br/><br/>
		  </div>
	    </div>
	  </div>
	


    </div>
    
    <div id="session" class="container">
        <h3 class="mt-5 mb-5">Calendrier des rencontres</h3>
        <table class="table table-borderless">
        <thead>
            <tr>
            <th scope="col">Session n°</th>
            <th scope="col">Thème</th>
            <th scope="col">Date</th>
                    <th scope="col">Limite des inscriptions</th>
                    <th>Disponibilite</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">1</th>
            <td>Atelier 1: Les bases</td>
            <td>xx octobre 2019<br/> <i class="horaires">de 19h30 à 21h30</i></td>
                    <td>fin septembre 2019</td>
                    <td>Oui</td>
            </tr>
            <tr>
            <th scope="row">2</th>
            <td>Atelier 2: connaitre votre materiel</td>
            <td>xx novembre 2019<br/> <i class="horaires">de 19h30 à 21h30</td>
                    <td>fin octobre 2019 à 23h59</td>
                    <td>Oui</td>
            </tr>
            <tr>
            <th scope="row">3</th>
            <td>Atelier thematique</td>
            <td>A planifier<br/> <i class="horaires">--</i></td>
                    <td>fin novenbre 2019</td>
                    <td>Oui</td>
            </tr>
            <tr>
            <th scope="row">4</th>
            <td>Sortie photo</td>
            <td>a planifier avant fin decembre 2019</td>
                    <td>fin novembre 2019</td>
                    <td>frais de participation</td>
            </tr>
        </tbody>
        </table>

        <!-- Begin Mailchimp Signup Form -->			
			<div id="mc_embed_signup">
			<form action="https://yahoo.us3.list-manage.com/subscribe/post?u=a3994c03bbe41c2cc8a09ca00&amp;id=83417136f3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div id="mc_embed_signup_scroll">	
			<div class="mc-field-group">				
				<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="votre@email.com">
			</div>
				<div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a3994c03bbe41c2cc8a09ca00_83417136f3" tabindex="-1" value=""></div>
				<div class="clear"><input type="submit" value="Je souscris" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
				</div>
			</form>
			</div>
			<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
            <!--End mc_embed_signup-->
            
    </div>
</main>

