<% provide(:title, 'Rado Rakotondrabe | Home') %>
<div class="jumbotron jumbotron-fluid my-screen">
  <div class="container">
    <h1 class="display-4 mt-2">Digital photography workshop</h1>
    <h2 class="lead">Only one advances faster, but together we advance further</h2>
    <a class="js-scrollTo" href="#concept"><button type="button" class="btn btn-outline-primary btn-lg mt-3">Discover</button></a>
  </div>
</div>
<main>
<div id="concept" class="container mt-5 mb-5">
	<div class="row align-items-start">
			<div class="col-sm-12 col-md-12 col-lg-6 mb-3">
				<h3 class="mb-3">For who and for what ?</h3>
				<ul>
					<li>You own a camera but you'd like to better understand how does it work ?</li>
					<li>You want learn the basics of photography ?</li>
					<li>You know some basics of it but would like to perform your knowledge ?</li>
					<li>You want to meet with people here in Kampala who share the same interests as you ?</li>
				</ul>
				<p>Anyway, You are at the right place. As an African saying :"<i>Only one advances faster, but together we advance further</i>"</p>
				<h3 class="mb-3">How and how much ?</h3>
				<ul>					
					<li>Let's do it in four steps: 3 theoretical + 1 practical sessions</li>
					<li>Some home practicing and facebook group for exchanging tips or advices</li>
					<li>15k ugx per session. 50k ugx (<strike>60k</strike>) for 4 sessions.</li>
				</ul>
				<h3 class="mb-3">How to participate ?</h3>
				<!-- Begin Mailchimp Signup Form -->			
			<div id="mc_embed_signup">
			<form action="https://yahoo.us3.list-manage.com/subscribe/post?u=a3994c03bbe41c2cc8a09ca00&amp;id=83417136f3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div id="mc_embed_signup_scroll">	
			<div class="mc-field-group">		
				<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="your@email.com">
			</div>
				<div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a3994c03bbe41c2cc8a09ca00_83417136f3" tabindex="-1" value=""></div>
				<div class="clear"><input type="submit" value="I subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
				</div>
			</form>
			</div>
			<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
			<!--End mc_embed_signup-->

	    </div>

	    <div class="col-sm-12 col-md-12 col-lg-6">
	    	<%= image_tag("workshop.jpg", class: "rounded img-fluid") %>
	    </div>
  	</div>

</div>

<div id="program" class="container mb-5">
	<h3 class="mb-3">Program</h3>	
	
	<div class="row">
	  <div class="col-sm-12 col-md-6 col-lg-4">

	    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
	      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Basics of photography</a>
	      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Better understanding his own camera</a>
	      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Thematic session</a>
	      <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">practice session </a>
	    </div>
	  </div>

	  <div class="col-sm-12 col-md-6 col-lg-8">

	    <div class="tab-content container mt-2" id="v-pills-tabContent">
	      <div class="tab-pane fade show active justif" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">Pour cette 1ere rencontre nous ne ferons de la théorie avec quelques exercices pratique sans doute. Nous verrons les notions de base sur le cadrage, la composition...<br/><br/>
		  </div>
	      <div class="tab-pane fade justif" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">Cet atelier sera consacre a la (re)decouverte de votre propre materiel.<br/><br/>
		  </div>
		  <div class="tab-pane fade justif" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">Nous considèrerons pour cet atelier que les participants possèdent les bases techniques essentielles de la photographie ainsi que la connaissance de leur appareil photo.
				Nous travaillerons sur un thème particulier.<br/><br/>
		  </div>
	      <div class="tab-pane fade justif" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">Nous organiserons (sous reserve) une sortie photo pour mettre toutes nos connaissances en pratique.<br/><br/>
		  </div>
	    </div>
	  </div>
	


    </div>
    
    <div id="session" class="container">
        <h3 class="mt-5 mb-5">meetings calendar</h3>
        <table class="table table-borderless">
        <thead>
            <tr>
            <th scope="col">workshop n°</th>
            <th scope="col">Theme</th>
            <th scope="col">Date</th>
                    <th scope="col">Suscribe before</th>
                    <th>Avalaibility</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">1</th>
            <td>Atelier 1: Les bases</td>
            <td>xx octobre 2019<br/> <i class="horaires">de 19h30 à 21h30</i></td>
                    <td>fin septembre 2019</td>
                    <td>Oui</td>
            </tr>
            <tr>
            <th scope="row">2</th>
            <td>Atelier 2: connaitre votre materiel</td>
            <td>xx novembre 2019<br/> <i class="horaires">de 19h30 à 21h30</td>
                    <td>fin octobre 2019 à 23h59</td>
                    <td>Oui</td>
            </tr>
            <tr>
            <th scope="row">3</th>
            <td>Atelier thematique</td>
            <td>A planifier<br/> <i class="horaires">--</i></td>
                    <td>fin novenbre 2019</td>
                    <td>Oui</td>
            </tr>
            <tr>
            <th scope="row">4</th>
            <td>Sortie photo</td>
            <td>a planifier avant fin decembre 2019</td>
                    <td>fin novembre 2019</td>
                    <td>frais de participation</td>
            </tr>
        </tbody>
        </table>

        <!-- Begin Mailchimp Signup Form -->			
			<div id="mc_embed_signup">
			<form action="https://yahoo.us3.list-manage.com/subscribe/post?u=a3994c03bbe41c2cc8a09ca00&amp;id=83417136f3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div id="mc_embed_signup_scroll">	
			<div class="mc-field-group">				
				<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="your@email.com">
			</div>
				<div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a3994c03bbe41c2cc8a09ca00_83417136f3" tabindex="-1" value=""></div>
				<div class="clear"><input type="submit" value="I subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
				</div>
			</form>
			</div>
			<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
            <!--End mc_embed_signup-->
            
    </div>
</main>

